{% extends 'general/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Задачи</h1>
{% if tasks %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Время создания</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата завершения</th>
        <th scope="col">Автор</th>
    </tr>
    </thead>
    <tbody>
    {% for elements in tasks %}
    {% if user.is_superuser == True or elements.author.pk == user_pk and elements.state != 'Завершённая' %}
    <tr>
        <th scope="row">{{ elements.id }}</th>
        <td>{{ elements.title }}</td>
        <td>{{ elements.description }}</td>
        <td>{{ elements.time_create }}</td>
        <td>{{ elements.state }}</td>
        <td>{{ elements.time_out }}</td>
        <td>{{ elements.author.pk}}</td>
        <td><a href="{{ elements.id }}/update/">Изменить</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>Нет задач</p>1
    {% endif %}
    </tbody>
    <form action="/history/">
        <button type="submit">История Задач</button>
    </form>
    {% endblock %}
